/*
 * pydosh - Default stylesheet for pydosh
 *
 * Copyright 2013 Will Hall <will@innerhippy.com>
 *
 * This software is released under the LGPLv3 license.
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

QTableView#tagView {
	background-color: transparent;
}

QLabel#inTotalLabel, QLabel#outTotalLabel, QLabel#recordCountLabel{
	font: bold;
}